.SearchResultCard {
  color: black;
  width: 100px;
}


.SearchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.SearchResults li {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
