.Navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 40px;
}

a {
  color: var(--nav-link);
  text-decoration: none;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

a:hover {
  opacity: .4;
}

