@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Great+Vibes&family=Griffy&family=Heebo:wght@900&family=Montserrat:wght@400;500;600;700&family=Poppins&family=Press+Start+2P&family=Space+Mono&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --white: white;
  --pink: mistyrose;
  --nav-link: dimgrey;
  --paragraph-color: rgba(240, 248, 255, 0.783);
  --black: black;
  --purple: lavender;
  --linen: linen;
}

body {
  /* font-family: 'Space Mono', monospace; */
  font-family: 'Montserrat', sans-serif;

}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 30px;
  letter-spacing: 3px;
}


p {
  font-size: .8rem;
  padding-top: 40px;
}
